<div class="booyah-box">
  <div class="col-xs-4">
      <%= image_tag 'user.png' %>
  </div>
  <div class="col-xs-8">
    <h3><%= @user.email %></h3>
    <h4>Member since: <%= @user.created_at.strftime("%B %d, %Y") %></h4>
    <hr />
    <p><%= @user.comments.count %> Total Comments</p>
    <p><%= @user.comments.where(rating: '5_stars').count %> Total 5 Star Reviews</p>
  </div>
  <div class="clear"></div>
</div>